.formField {
  width: 100%;
  padding: 10px 15px 10px 15px;
  border: 1px solid var(--neutral-grey-blue);
  border-radius: 10px;
  font-weight: 600;
}

.formField:focus {
  width: 100%;
  padding: 10px 15px 10px 15px;
  border-color: var(--neutral-dark-blue);
  outline: none;
  border-radius: 10px;
  font-weight: 600;
}

.invalid,
.invalid:focus {
  background: url("../../assets/icon-error.svg") no-repeat right;
  background-size: 20px;
  background-origin: content-box;
  border: 1px solid var(--primary-red);
  outline: 1px solid var(--primary-red);
  color: var(--primary-red);
}

.invalidText {
  color: var(--primary-red);
  font-weight: 600;
  font-size: 12px;
  font-style: italic;
  text-align: right;
  margin-top: 8px;
}
